<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kviz</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/igra.css">
    <script src="../js/igra.js"></script>
    <script src="https://kit.fontawesome.com/4b9f39bff8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="flex-column justify-center">
            <div class="grid-container">
                <div class="pitanja">
                    <div class="flex-parent">
                        <a class="btn flex-child btn-prethodno"><i class="fa-solid fa-angle-left"></i></a>
                        <h2 id="nazivPitanja flex-child">Naziv pitanja</h2>
                        <a class="btn flex-child btn-sljedece"><i class="fa-solid fa-angle-right"></i></a>
                    </div>
   
                    <p id="pitanje">Ovdje bude neko zanimljivo pitanje</p>
                </div>
                <div class="slajdovi">
                    <a id="slajd">1</a>
                    <a id="slajd">2</a>
                    <a id="slajd">3</a>
                    <a id="slajd">4</a>
                </div>
                <div class="odgovori-lijevo">
                    <a id="odgovor" class ="o-lijevo">1</a>
                    <a id="odgovor" class ="o-lijevo">1</a>
                    <a id="odgovor" class ="o-lijevo">1</a>
                    <a id="odgovor" class ="o-lijevo">1</a>
                </div>
                <div class="odgovori-desno">
                    <a id="odgovor" class="o-desno">2</a>
                    <a id="odgovor" class="o-desno">1</a>
                    <a id="odgovor" class="o-desno">1</a>
                    <a id="odgovor" class="o-desno">1</a>
                </div>
            </div>
    </div>
    </div>
</body>
</html>