<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4b9f39bff8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">

    <title>Info3 Kviz</title>
</head>
<body>
    <div class="container">
        <div id="pocetna" class="flex-column flex-center">
            <h1>Odabrani odgovori</h1>
            <div class="odgovori">

            </div>
            <a href="igra.html" class="btn" style="margin-top: 5rem;">Igraj ponovno<i class="fa-solid fa-play"></i></a>
        </div> 
    </div>
    <script src="../js/rezultat.js"></script>
</body>
</html>